:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  --very-pale-blue: hsl(228, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: rgb(31, 47, 86);
  --button-box-shadow: hsl(247, 70%, 91%);
  --card-box-shadow: hsl(228, 73%, 87%);

  --hover-color: hsl(245, 83%, 68%);
}
